In [12]:
import pandas as pd
import numpy as np
import matplotlib as plt
import requests
import os
from pprint import pprint

In [13]:
games_detailed = os.path.join("01_Resources", "archive", "games_details.csv")
games = os.path.join("01_Resources", "archive", "games.csv")
players = os.path.join("01_Resources", "archive", "players.csv")
ranking = os.path.join("01_Resources", "archive", "ranking.csv")
teams = os.path.join("01_Resources", "archive", "teams.csv")
games_det_df = pd.read_csv(games_detailed, low_memory=False)
games_df = pd.read_csv(games, low_memory=False)
players_df = pd.read_csv(players, low_memory=False)
rankings_df = pd.read_csv(ranking, low_memory=False)
teams_df = pd.read_csv(teams, low_memory=False)

# Quick Explanation:

## The 'describe_df' function shows:
1) Shape of the Data Frame
2) Data Types
3) df.describe()

In [14]:
def describe_df(df):
    print(f'''

Shape of Data Frame:
{df.shape}

DATA TYPES: 

{df.dtypes}

Name of Columns: 
{df.columns} 

COLUMNS DESCRIBED:

{df.describe()}
''')

In [15]:
describe_df(games_df)

Shape of Data Frame:
(25024, 21)

DATA TYPES:

GAME_DATE_EST        object
GAME_ID               int64
GAME_STATUS_TEXT     object
HOME_TEAM_ID          int64
VISITOR_TEAM_ID       int64
SEASON                int64
TEAM_ID_home          int64
PTS_home            float64
FG_PCT_home         float64
FT_PCT_home         float64
FG3_PCT_home        float64
AST_home            float64
REB_home            float64
TEAM_ID_away          int64
PTS_away            float64
FG_PCT_away         float64
FT_PCT_away         float64
FG3_PCT_away        float64
AST_away            float64
REB_away            float64
HOME_TEAM_WINS        int64
dtype: object

Name of Columns:
Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

COLUMNS DESCRIBED:

            GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID        SEASON  \
count  2.502400e+04  2.502400e+04     2.502400e+04  25024.000000
mean   2.167942e+07  1.610613e+09     1.610613e+09   2011.513867
std    5.579698e+06  8.636816e+00     8.656774e+00      5.228157
min    1.030000e+07  1.610613e+09     1.610613e+09   2003.000000
25%    2.060090e+07  1.610613e+09     1.610613e+09   2007.000000
50%    2.120001e+07  1.610613e+09     1.610613e+09   2012.000000
75%    2.170012e+07  1.610613e+09     1.610613e+09   2016.000000
max    5.200021e+07  1.610613e+09     1.610613e+09   2021.000000

       TEAM_ID_home      PTS_home   FG_PCT_home   FT_PCT_home  FG3_PCT_home  \
count  2.502400e+04  24925.000000  24925.000000  24925.000000  24925.000000
mean   1.610613e+09    102.853200      0.460177      0.759202      0.356024
std    8.636816e+00     13.124773      0.056695      0.100675      0.112786
min    1.610613e+09     36.000000      0.250000      0.143000      0.000000
25%    1.610613e+09     94.000000      0.421000      0.696000      0.286000
50%    1.610613e+09    102.000000      0.459000      0.765000      0.357000
75%    1.610613e+09    111.000000      0.500000      0.828000      0.429000
max    1.610613e+09    168.000000      0.684000      1.000000      1.000000

           AST_home      REB_home  TEAM_ID_away      PTS_away   FG_PCT_away  \
count  24925.000000  24925.000000  2.502400e+04  24925.000000  24925.000000
mean      22.666760     43.302106  1.610613e+09     99.998114      0.448975
std        5.168521      6.610744  8.656774e+00     13.251149      0.055501
min        6.000000     15.000000  1.610613e+09     33.000000      0.244000
25%       19.000000     39.000000  1.610613e+09     91.000000      0.411000
50%       22.000000     43.000000  1.610613e+09    100.000000      0.448000
75%       26.000000     48.000000  1.610613e+09    109.000000      0.486000
max       50.000000     72.000000  1.610613e+09    168.000000      0.674000

        FT_PCT_away  FG3_PCT_away      AST_away      REB_away  HOME_TEAM_WINS
count  24925.000000  24925.000000  24925.000000  24925.000000    25024.000000
mean       0.757640      0.349365     21.314022     42.021745        0.588875
std        0.103315      0.111003      5.122301      6.524002        0.492048
min        0.143000      0.000000      4.000000     19.000000        0.000000
25%        0.692000      0.278000     18.000000     38.000000        0.000000
50%        0.763000      0.350000     21.000000     42.000000        1.000000
75%        0.829000      0.421000     25.000000     46.000000        1.000000
max        1.000000      1.000000     46.000000     81.000000        1.000000

In [16]:
describe_df(players_df)

Shape of Data Frame:
(7228, 4)

DATA TYPES:

PLAYER_NAME    object
TEAM_ID         int64
PLAYER_ID       int64
SEASON          int64
dtype: object

Name of Columns:
Index(['PLAYER_NAME', 'TEAM_ID', 'PLAYER_ID', 'SEASON'], dtype='object')

COLUMNS DESCRIBED:

            TEAM_ID     PLAYER_ID       SEASON
count  7.228000e+03  7.228000e+03  7228.000000
mean   1.610613e+09  2.355862e+06  2014.159934
std    8.723521e+00  6.106688e+07     3.126216
min    1.610613e+09  2.440000e+02  2009.000000
25%    1.610613e+09  2.007680e+05  2012.000000
50%    1.610613e+09  2.023465e+05  2014.000000
75%    1.610613e+09  2.039100e+05  2017.000000
max    1.610613e+09  1.962938e+09  2019.000000

In [17]:
describe_df(rankings_df)

Shape of Data Frame:
(198342, 13)

DATA TYPES:

TEAM_ID            int64
LEAGUE_ID          int64
SEASON_ID          int64
STANDINGSDATE     object
CONFERENCE        object
TEAM              object
G                  int64
W                  int64
L                  int64
W_PCT            float64
HOME_RECORD       object
ROAD_RECORD       object
RETURNTOPLAY     float64
dtype: object

Name of Columns:
Index(['TEAM_ID', 'LEAGUE_ID', 'SEASON_ID', 'STANDINGSDATE', 'CONFERENCE',
       'TEAM', 'G', 'W', 'L', 'W_PCT', 'HOME_RECORD', 'ROAD_RECORD',
       'RETURNTOPLAY'],
      dtype='object')

COLUMNS DESCRIBED:

            TEAM_ID  LEAGUE_ID      SEASON_ID              G              W  \
count  1.983420e+05   198342.0  198342.000000  198342.000000  198342.000000
mean   1.610613e+09        0.0   21390.760116      56.728323      28.367774
std    8.640654e+00        0.0    2412.988998      28.616779      17.286137
min    1.610613e+09        0.0   12003.000000       0.000000       0.000000
25%    1.610613e+09        0.0   22006.000000      33.000000      14.000000
50%    1.610613e+09        0.0   22011.000000      67.000000      29.000000
75%    1.610613e+09        0.0   22016.000000      82.000000      42.000000
max    1.610613e+09        0.0   22021.000000      82.000000      73.000000

                   L          W_PCT  RETURNTOPLAY
count  198342.000000  198342.000000   3990.000000
mean       28.360549       0.492614      0.600000
std        17.276828       0.188511      0.489959
min         0.000000       0.000000      0.000000
25%        15.000000       0.370000      0.000000
50%        28.000000       0.500000      1.000000
75%        41.000000       0.621000      1.000000
max        72.000000       1.000000      1.000000

In [18]:
rankings_df.head()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612744,0,22021,2021-11-17,West,Golden State,14,12,2,0.857,8-1,4-1,NaN
1,1610612756,0,22021,2021-11-17,West,Phoenix,14,11,3,0.786,6-2,5-1,NaN
2,1610612742,0,22021,2021-11-17,West,Dallas,14,9,5,0.643,6-1,3-4,NaN
3,1610612743,0,22021,2021-11-17,West,Denver,14,9,5,0.643,7-1,2-4,NaN
4,1610612746,0,22021,2021-11-17,West,LA Clippers,14,9,5,0.643,7-3,2-2,NaN

In [19]:
describe_df(teams_df)

Shape of Data Frame:
(30, 14)

DATA TYPES:

LEAGUE_ID               int64
TEAM_ID                 int64
MIN_YEAR                int64
MAX_YEAR                int64
ABBREVIATION           object
NICKNAME               object
YEARFOUNDED             int64
CITY                   object
ARENA                  object
ARENACAPACITY         float64
OWNER                  object
GENERALMANAGER         object
HEADCOACH              object
DLEAGUEAFFILIATION     object
dtype: object

Name of Columns:
Index(['LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

COLUMNS DESCRIBED:

       LEAGUE_ID       TEAM_ID     MIN_YEAR  MAX_YEAR  YEARFOUNDED  \
count       30.0  3.000000e+01    30.000000      30.0    30.000000
mean         0.0  1.610613e+09  1969.700000    2019.0  1969.700000
std          0.0  8.803408e+00    16.698441       0.0    16.698441
min          0.0  1.610613e+09  1946.000000    2019.0  1946.000000
25%          0.0  1.610613e+09  1952.000000    2019.0  1952.000000
50%          0.0  1.610613e+09  1970.000000    2019.0  1970.000000
75%          0.0  1.610613e+09  1979.000000    2019.0  1979.000000
max          0.0  1.610613e+09  2002.000000    2019.0  2002.000000

       ARENACAPACITY
count      26.000000
mean    18553.307692
std      3916.923362
min         0.000000
25%     18641.500000
50%     19131.000000
75%     19790.750000
max     21711.000000